<div class="col-md-8 jumbotron" ng-controller="TimetableCtrl">
    <div id="week-schedule-inner">
        <table class="tableday table table-bordered table-striped table-condensed">
            <tbody>
            <tr>
                <td colspan="2" class="week-day-header">Понедельник</td>
            </tr>
            <tr>
                <td colspan="2">Занятий нет</td>
            </tr>
            </tbody>
        </table>
        <table class="tableday table table-bordered table-striped table-condensed">
            <tbody>
            <tr>
                <td colspan="2" class="week-day-header">Вторник</td>
            </tr>
            <tr>
                <td colspan="2">Занятий нет</td>
            </tr>
            </tbody>
        </table>
        <table class="tableday table table-bordered table-striped table-condensed">
            <tbody>
            <tr>
                <td colspan="2" class="week-day-header">Среда</td>
            </tr>
            <tr>
                <td class="lesson-number">3</td>
                <td class="tablerow lab">
                    <div class="subgroup-lesson">
                        <div class="title">Теория информации и кодирования</div>
                        <div class="teacher">Хохлов Г.И., проф. Лабораторная работа</div>
                        <div class="auditory">Подгруппа 1 5-403</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="lesson-number">4</td>
                <td class="tablerow lab">
                    <div class="subgroup-lesson">
                        <div class="title">Теория информации и кодирования</div>
                        <div class="teacher">Хохлов Г.И., проф. Лабораторная работа</div>
                        <div class="auditory">Подгруппа 1 5-403</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="lesson-number">5</td>
                <td class="tablerow lab">
                    <div class="subgroup-lesson">
                        <div class="title">Теория информации и кодирования</div>
                        <div class="teacher">Хохлов Г.И., проф. Лабораторная работа</div>
                        <div class="auditory">Подгруппа 2 5-403</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="lesson-number">6</td>
                <td class="tablerow lab">
                    <div class="subgroup-lesson">
                        <div class="title">Теория информации и кодирования</div>
                        <div class="teacher">Хохлов Г.И., проф. Лабораторная работа</div>
                        <div class="auditory">Подгруппа 2 5-403</div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <table class="tableday table table-bordered table-striped table-condensed">
            <tbody>
            <tr>
                <td colspan="2" class="week-day-header">Четверг</td>
            </tr>
            <tr>
                <td class="lesson-number">1</td>
                <td class="tablerow lec">
                    <div class="subgroup-lesson">
                        <div class="title">Сети и телекоммуникации</div>
                        <div class="teacher">Соломенцев В.В., проф. Лекция</div>
                        <div class="auditory">2-101</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="lesson-number">2</td>
                <td class="tablerow prac">
                    <div class="subgroup-lesson">
                        <div class="title">Иностранный язык</div>
                        <div class="teacher">Ковалева Н.Н., ст.преп. Практика</div>
                        <div class="auditory">1-203</div>
                    </div>
                    <div class="subgroup-lesson">
                        <div class="title">Иностранный язык</div>
                        <div class="teacher">Семенова Л.В., ст.преп. Практика</div>
                        <div class="auditory">1-202</div>
                    </div>
                    <div class="subgroup-lesson">
                        <div class="title">Иностранный язык</div>
                        <div class="teacher">Ковалева Н.Н., ст.преп. Практика</div>
                        <div class="auditory">Подгруппа 1 1-203</div>
                    </div>
                    <div class="subgroup-lesson">
                        <div class="title">Иностранный язык</div>
                        <div class="teacher">Семенова Л.В., ст.преп. Практика</div>
                        <div class="auditory">Подгруппа 2 1-202</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="lesson-number">3</td>
                <td class="tablerow lec">
                    <div class="subgroup-lesson">
                        <div class="title">Теория информации и кодирования</div>
                        <div class="teacher">Хохлов Г.И., проф. Лекция</div>
                        <div class="auditory">5-112</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="lesson-number">4</td>
                <td class="tablerow prac">
                    <div class="subgroup-lesson">
                        <div class="title">Теория информации и кодирования</div>
                        <div class="teacher">Хохлов Г.И., проф. Практика</div>
                        <div class="auditory">5-207</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="lesson-number">5</td>
                <td class="tablerow lab">
                    <div class="subgroup-lesson">
                        <div class="title">Физическая культура</div>
                        <div class="teacher">*****, *** Лабораторная работа</div>
                        <div class="auditory">Спортзал 3</div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <table class="tableday table table-bordered table-striped table-condensed">
            <tbody>
            <tr>
                <td colspan="2" class="week-day-header">Пятница</td>
            </tr>
            <tr>
                <td class="lesson-number">3</td>
                <td class="tablerow lec">
                    <div class="subgroup-lesson">
                        <div class="title">Экономика</div>
                        <div class="teacher">Купрюхина Л.И., доц. Лекция</div>
                        <div class="auditory">16р</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="lesson-number">4</td>
                <td class="tablerow lab">
                    <div class="subgroup-lesson">
                        <div class="title">Физическая культура</div>
                        <div class="teacher">*****, *** Лабораторная работа</div>
                        <div class="auditory">Спортзал 3</div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <table class="tableday table table-bordered table-striped table-condensed">
            <tbody>
            <tr>
                <td colspan="2" class="week-day-header">Суббота</td>
            </tr>
            <tr>
                <td colspan="2">Занятий нет</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
